h1 { 
    
    
    color:black;
    font-size: 25px;
    width: 225px;
    align-content: centre; 
    margin-left: 5%;
    margin-right: 25%;
}

.menu{          
    font-size: 15px;
    margin-left: 70%;
    position: fixed;
    z-index: 10;
    margin-top: 10px;
} 


h2 {
    margin-left: 25%;
    

}

h3 {
    margin-left: 5%;
    font-style: strong, ;
    font-display: underline; 
}


body {  
                background-image: url('../images/ripples.png') ;
                    }


.content_box {  
                
                width: 940px;
                height: 600px;
                background-color: white;
                margin-top: 5%;
                border-style: solid;
        


            }               



.text {        
                margin-top: 10px;
                float: left;    
                width: 50%;
                margin-bottom: 75%;
                position: relative;
                margin-left: 5%;
            } 
.portait {    
                width: 30%;
                padding-top: 0; 
                margin-top: 0;
               margin-left: 5%;
               
            }   

footer      {   background-color: grey; 
    right: 0;
    bottom: 0;
    left:0; 


}
