h1 { 
    
    
    color:white;
    background-color:#4aaaa5;
    height: 65px;
    width: 40%;
    font-size: 55px;
    align-content: centre; 
    margin-left: 5%;
    margin-right: 25%;
    margin-bottom: 1px;
}

.menu{          
    font-size: 15px;
    margin-left: 75%;
    position: fixed;
    margin-top: -5%;
   
} 


h2 {
   color: #4aaaa5;
    margin-left: 5%;
    

}

h3 {
    
    font-style: strong, ;
    color: #4aaaa5;
    font-display: underline; 
    font-size: 55px;    
}


body {  
                background-image: url('../images/ripples.png') ;
                    }


.content_box {  
                
                width: 940px;
                height: 600px;
                border-color: #4aaaa5;
                border-style: solid;
                background-color: #ffffff;
                margin-bottom: 15%;
                margin-left: 5%;
        


            }               



.text {        
                margin-top: 10px;
                float: left;    
                width: 50%;
                margin-bottom: 75%;
                color: #777777;
                margin-left: 5%;
            } 
.portait {    
                width: 30%;
                height: 20%;
                float:left;
                margin-left: 0;
            }   

footer      {   background-color: gray;
                right: 0;
                bottom: 0;
                left:0; 
                text-align-last: left;
              

}
