h4      {margin-left: 5%;
        }        

img 
        {     
                height: 200px;
                 width: 25%;
}

.content_box_1 {  
                
        width: 940px;
        height: 750px;
        border-color: #4aaaa5;
        border-style: solid;
        background-color: #ffffff;
        margin-bottom: 15%;
        margin-left: 5%;



    }               